<% content_for :title do %>Dashy B<% end %>
<div class="gridster">
  <ul>

    <li data-row="3" data-col="4" data-sizex="2" data-sizey="1">
      <div data-id="NationalRail" data-view="NationalRail" data-unordered="true" data-title="Trains (LHD)" style="background-color: #0f516b"></div>
      <i class="fa fa-train icon-background"></i>
    </li>
      
  </ul>

</div>
